<div>
  <h1 class="landing-header">Hali na sa <span>TATANONG!</span></h1>
  <p class="landing-subtext">
    Enhance your study sessions with our interactive flashcards.
  </p>
</div>

<div
  class="landing-content"
  ngbAccordion
  #accordion="ngbAccordion"
  [closeOthers]="true"
>
  <div class="accordion-item" ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button class="accordion-header" ngbAccordionButton>Search</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <p>Enter your flashcard ID to begin (e.g., a012lm)</p>
          <div>
            <input type="text" placeholder="Flashcard Search ID..." />
            <button><img src="/images/search.png" alt="Search" /></button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="accordion-item" ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button class="accordion-header" ngbAccordionButton>Edit</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <p>Enter your flashcard ID to edit (e.g., b32alm)</p>
          <div>
            <input type="text" placeholder="Flashcard Edit ID..." />
            <button><img src="/images/edit.png" alt="Search" /></button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="accordion-item" ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button class="accordion-header" ngbAccordionButton>Create</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <p>
            Enter your flashcard name to create a new set (e.g., 'Science 101')
          </p>
          <div>
            <input type="text" placeholder="Flashcard Name..." />
            <button><img src="/images/create.png" alt="Search" /></button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- <div class="cards-container ngbAccordion">
  <section ngbAccordionItem>
    <div ngbAccordionHeader>
      Search
      <span
        ><button><img src="/images/expanded.png" alt="Expand" /></button
      ></span>
    </div>
    <div>
      <p>Enter your flashcard ID to begin (e.g., a012lm)</p>
      <div>
        <input type="text" placeholder="Flashcard Search ID..." />
        <button><img src="/images/search.png" alt="Search" /></button>
      </div>
    </div>
  </section>
  <section>
    <div>
      Edit
      <span
        ><button><img src="/images/to-expand.png" alt="Expand" /></button
      ></span>
    </div>
    <div>
      <p>Enter your flashcard ID to edit (e.g., b32alm)</p>
      <div>
        <input type="text" placeholder="Flashcard Edit ID..." />
        <button><img src="/images/edit.png" alt="Search" /></button>
      </div>
    </div>
  </section>
  <section>
    <div>
      Create
      <span
        ><button><img src="/images/to-expand.png" alt="Expand" /></button
      ></span>
    </div>
    <div>
      <p>Enter your flashcard name to create a new set (e.g., 'Science 101')</p>
      <div>
        <input type="text" placeholder="Flashcard Name..." />
        <button><img src="/images/create.png" alt="Search" /></button>
      </div>
    </div>
  </section>
</div> -->
