<div>
  <h1 class="landing-header">Hali na sa <span>TATANONG!</span></h1>
  <p class="landing-subtext">
    Enhance your study sessions with our interactive flashcards.
  </p>
</div>

<div
  class="landing-content"
  ngbAccordion
  #accordion="ngbAccordion"
  [closeOthers]="true"
>
  <div
    class="accordion-item search rounded-top"
    ngbAccordionItem
    [collapsed]="false"
  >
    <h2 ngbAccordionHeader>
      <button class="accordion-btn rounded-top" ngbAccordionButton>
        Search
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <p class="input-subtext">
            Enter your flashcard ID to begin (e.g., a012lm)
          </p>
          <div class="input-bar">
            <input type="text" placeholder="Flashcard Search ID..." />
            <button><img src="/images/search.png" alt="Search" /></button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="accordion-item edit" ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button class="accordion-btn" ngbAccordionButton>Edit</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <p class="input-subtext">
            Enter your flashcard ID to edit (e.g., b32alm)
          </p>
          <div class="input-bar">
            <input type="text" placeholder="Flashcard Edit ID..." />
            <button><img src="/images/edit.png" alt="Search" /></button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="accordion-item create rounded-bottom" ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button class="accordion-btn rounded-bottom" ngbAccordionButton>
        Create
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <p class="input-subtext">
            Enter your flashcard name to create a new set (e.g., 'Science 101')
          </p>
          <div class="input-bar">
            <input type="text" placeholder="Flashcard Name..." />
            <button><img src="/images/create.png" alt="Search" /></button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div></div>
  <!-- Dummy div to fix the accordion bug -->
</div>
